body{

 //width: fit-content;

 background-color: black;
}


div#main-container {

  height: 100%;

  background-position: center;

  background-repeat: no-repeat;

  background-image: url("img/Russian-Hill.jpg");
  background-size: cover;

}


select.custom-select {
    width: fit-content;
}

.year-range {
    display: inline-flex;
    padding-right: 5%;
    margin-bottom: 2%;
}


#min-year {
    padding-right: 5%;
}

.slider.slider-horizontal {
    width: 50em !important;
    height: 20px;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

#data-header {
  font-weight: bold;
}

#title-text {
    font-size: 1.5em;
    padding-top: 10px;
   // margin-left: 25%;
   // margin-right: 25%;
    color: yellow;
    text-align:center;
}

#project-name {
    font-weight: bold;
    font-size: 20px;
}

#image-attr{
    color: white;
}

#image-attr a {
    color: yellow;
}

#selection {
  text-align:center;
  margin-top: 10px;
  color: yellow;

}

#project-name {
    text-align: center;
}

#play-option {
    padding-top: 10px;
    display: inline;
    border-bottom: 5px solid yellow;
}

#monthly, #daily {
    display: inline-block;
    text-align: center;
    border: 3px black solid;
}

.increment {
    margin-top: 5px;
    margin-bottom: 5px;
}

#about {
    padding-top: 5px;
    text-align: center;
    color: yellow;
    border-top: 2px yellow solid;
}

#audio-header {
    color: yellow;
}

#audio-settings {
    padding-top: 5px;
    border-top: 2px yellow solid;
}

#audio-details {
    color: white;
    text-align: left;
}

#about a {
    color: yellow;
}

#info {
    color: white;
}

#back {
    text-align: center;
    color: white;
    border-top: 2px yellow solid;
}

#back a {
    color: yellow;
}

#play-controls {
    background-color: #0062cc;
    color: yellow;
    opacity: 100%;
}

#data-display {
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    background-color: slategrey;
    color: yellow;
    //text-align: center;
    font-size: large;
    margin-bottom: 5%;

}

#date-range-label {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 2px yellow solid;
}

#data-header {
    padding-bottom: 10px;
}

#data-display-inner {
    padding-top: 20px;
    //font-weight: bold;
}

.range-label {
    padding-right: 11px;
    font-weight: bold;
}

    @media screen and (max-width: 768px) {
        #data-display {
            width: 100% !important;
        }

        #daily-climate-data {
            display: block;
        }
    }


